* {
    background-color: forestgreen;
}
h1 {
    color:white;
    text-align: center;
}
h1:hover {
    color:black
}
p {
    color: white;
    text-align: center;
}
ol {
    color: black;
    margin-right: 30%;
    margin-left:  30%;
}
img {
    text-align: center;
    display: block;
    margin:0 auto;
}
div {
    color: white;
    margin-right: 30%;
    margin-left:  30%;
    font-size: 2em;
}
footer p {
    color: black;
    text-align: center;
}