* {
    background-color: forestgreen;
}
h1 {
    color:white;
    text-align: center;
}
h1:hover {
    color:black
}
p {
    color: white;
    text-align: center;
}
ol {
    color: black;
    margin-right: 30%;
    margin-left:  30%;
}
img {
    margin-right: 45%;
    margin-left:  45%;
}
div {
    color: white;
    margin-right: 30%;
    margin-left:  30%;
    font-size: 2em;
}
p footer {
    color: black;
    text-align: center;
}