* {
    background-color: forestgreen;
}
h1 {
    color:white;
    text-align: center;
}
h1:hover {
    color:black
}
p {
    color: white;
    text-align: center;
}
ol {
    color: black;
    margin-right: 20%;
    margin-left:  20%;
   
}